{% extends 'project_manager/base.html' %}
{% load static %}

{% block content %}

<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Dashboard</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li class="active">Dashboard</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content mt-3">
  {% if success_message %}
    <div class="col-sm-12">
        <div class="alert  alert-success alert-dismissible fade show" role="alert">
            <span class="badge badge-pill badge-success">Successfully</span> {{success_message}}.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>	
  {% endif %}          
  {% if error_message %}
    <div class="col-sm-12">
        <div class="alert  alert-danger alert-dismissible fade show" role="alert">
            <span class="badge badge-pill badge-danger">Failed</span> {{error_message}}.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>	
  {% endif %}        
</div>        

<div class="col-lg-12">
  <!-- Collapsable Card Example -->
  <div class="card shadow mb-4">
    <!-- Card Header - Accordion -->
    <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
      <h6 class="m-0 font-weight-bold text-primary">New Employee Add</h6>
    </a>
    <!-- Card Content - Collapse -->
    <div class="collapse no-show" id="collapseCardExample">
      <div class="card-body">                    
        <form action="{% url 'pm_employee_add' %}" method="POST">
        {% csrf_token %}
          <div class="form-group">
            <label for="EmployeeFirstName">Employee ID</label>
            <input type="text" name="employee_id" class="form-control" id="clientName" aria-describedby="clientNameHelp" placeholder="Enter Employee ID">
          </div>
          <div class="form-group">
            <label for="EmployeePermanentAddress">Password</label>
            <input type="text" name="change_password" class="form-control" id="clientName" aria-describedby="clientNameHelp" placeholder="Enter New Password">
          </div>
          <div class="form-group">
            <label for="EmployeeFirstName">First Name</label>
            <input type="text" name="first_name" class="form-control" id="clientName" aria-describedby="clientNameHelp" placeholder="Enter First Name">
            <small id="clientNameHelp" class="form-text text-muted">First name should contain ( { A-Z }, { a-z }, { 0-9 }, { . } )</small>
          </div>
          <div class="form-group">
            <label for="EmployeeLastName">Last Name</label>
            <input type="text" name="last_name" class="form-control" id="clientName" aria-describedby="clientNameHelp" placeholder="Enter Last Name">
            <small id="clientNameHelp" class="form-text text-muted">Last name should contain ( { A-Z }, { a-z }, { 0-9 }, { . } )</small>
          </div>
          <div class="form-group">
            <label for="EmployeePhone">Phone Number</label>
            <input type="text" name="phone_number" class="form-control" id="clientPhone" aria-describedby="clientPhoneHelp" placeholder="Enter Phone Number">
          </div>
          <div class="form-group">
            <label for="EmployeeEmail">Email</label>
            <input type="email" name="email" class="form-control" id="clientPhone" aria-describedby="clientPhoneHelp" placeholder="Enter Email">
          </div>
            <div class="form-group">
            <label for="EmployeePresentAddress">Present Address</label>
            <input type="text" name="present_address" class="form-control" id="clientName" aria-describedby="clientNameHelp" placeholder="Enter Present Address">
          </div>
          <div class="form-group">
            <label for="EmployeePermanentAddress">Permanent Address</label>
            <input type="text" name="permanent_address" class="form-control" id="clientName" aria-describedby="clientNameHelp" placeholder="Enter Permanent Address">
          </div>
           <div class="form-group">
            <label for="EmployeeNID">NID No.</label>
            <input type="text" name="nid" class="form-control" id="clientName" aria-describedby="clientNameHelp" placeholder="Enter NID No.">
          </div>
          <div class="form-group">
            <label for="Employeedob">Date of Birth</label>
            <input type="date" name="dob" class="form-control" id="examplePossibleBugs" placeholder="Date of Birth">
          </div>
          <div class="form-group">
            <label for="EmployeeDesignation">Designation</label>
            <input type="text" name="designation" class="form-control" id="clientName" aria-describedby="clientNameHelp" placeholder="Enter Designation">
          </div>
          <div class="form-group">
            <label for="EmployeeSkill">Skill</label>
            <input type="text" name="skill" class="form-control" id="clientName" aria-describedby="clientNameHelp" placeholder="Enter Employee Skill">
          </div>
          <div class="form-group">
          <label for="EmployeeMaritalStatus">Marital Status</label>                
         <select name="marital_status" id="select" class="form-control">
                <option>Please select</option>
                <option value="1">Married</option>
                <option value="2">Unmarried</option>
         </select>
                
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>     

<div class="col-lg-12">
  <!-- Collapsable Card Example -->
  <div class="card shadow mb-4">
    <!-- Card Header - Accordion -->
    <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
      <h6 class="m-0 font-weight-bold text-primary">Employee Details</h6>
    </a>
    <!-- Card Content - Collapse -->
    <div class="collapse show" id="collapseCardExample">
      <div class="card-body"> 
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Employee ID</th>
              <th scope="col">Name</th>
              <th scope="col">Phone no.</th>
              <th scope="col">Designation</th>
              <th scope="col">Skill</th>
              <th scope="col">See more</th>
            </tr>
          </thead>
          <tbody>
            {% for employee in employees %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{employee.employee_id}}</td>
              <td>{{employee.first_name}} {{employee.last_name}}</td>
              <td>{{employee.phone_number}}</td> 
              <td>{{employee.designation}}</td> 
              <td>{{employee.skill}}</td>                      
              <td><a href="{% url 'pm_employee_details' employee.id %}"><i class="fas fa-eye"></i></a></td>
            </tr>
            {% endfor %}
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
    <td>@mdo</td> 
              <td>@fat</td>
              <td><a href=""><i class="fas fa-eye"></i></a></td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">Larry the Bird</td>
    <td>@mdo</td> 
              <td>@twitter</td>
              <td><a href=""><i class="fas fa-eye"></i></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}