{% extends 'employee/base.html' %}
{% load static %}

{% block content %}

<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Dashboard</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li class="active">Dashboard</li>
                </ol>
            </div>
        </div>
    </div>
</div>
 

<div class="col-lg-12">
  <!-- Collapsable Card Example -->
  <div class="card shadow mb-4">
    <!-- Card Header - Accordion -->
    <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
      <h6 class="m-0 font-weight-bold text-primary">Task Sets</h6>
    </a>
    <!-- Card Content - Collapse -->
    <div class="collapse show" id="collapseCardExample">
      <div class="card-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Project Name</th>
              <th scope="col">Deadline</th>
              <th scope="col">See more</th>
            </tr>
          </thead>
          <tbody>
            {% for task in tasks %}
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ task.project.name }}</td>
                <td>{{ task.deadline }}</td>		
                <td>
                  <!-- Button trigger modal -->
                  <a href="{% url 'em_task_details' task.id %}">
                    <i class="fas fa-network-wired"></i>
                  </a>
                </td>		
              </tr>
            {% endfor %}            
          </tbody>            
        </table>            
      </div>
    </div>
  </div>
</div>   


<script>
  function project_id(){
    var project_id = document.getElementById("project_name").value;
    console.log(project_id);
  }


</script>
        
{% endblock %}