{% extends 'project_manager/base.html' %}
{% load static %}

{% block content %}

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li class="active">Dashboard</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="content mt-3">
          {% if success_message %}
            <div class="col-sm-12">
                <div class="alert  alert-success alert-dismissible fade show" role="alert">
                    <span class="badge badge-pill badge-success">Successfully</span> {{success_message}}.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>	
          {% endif %}          
          {% if error_message %}
            <div class="col-sm-12">
                <div class="alert  alert-danger alert-dismissible fade show" role="alert">
                    <span class="badge badge-pill badge-danger">Failed</span> {{error_message}}.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>	
          {% endif %}            
        </div>        
        
        <div class="col-lg-12">
          <!-- Collapsable Card Example -->
          <div class="card shadow mb-4">
            <!-- Card Header - Accordion -->
            <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
              <h6 class="m-0 font-weight-bold text-primary">New Bug Add</h6>
            </a>
            <!-- Card Content - Collapse -->
            <div class="collapse no-show" id="collapseCardExample">
              <div class="card-body">                    
                <form action="{% url 'pm_bug_add' %}" method="POST">
                {% csrf_token %}
                  <div class="form-group">
                    <label for="projectName">Bug Name</label>
                    <input type="text" name="bug_name" class="form-control" id="projectName" placeholder="Enter Bug Name">
                    <small id="projectNameHelp" class="form-text text-muted">Bug name should unique</small>
                  </div>
                  <div class="form-group">
                    <label for="projectName">Bug Description</label>
                    <input type="text" name="bug_description" class="form-control" id="projectName" placeholder="Enter Bug Description">
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>     
        
        <div class="col-lg-12">
          <!-- Collapsable Card Example -->
          <div class="card shadow mb-4">
            <!-- Card Header - Accordion -->
            <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
              <h6 class="m-0 font-weight-bold text-primary">Bug Details</h6>
            </a>
            <!-- Card Content - Collapse -->
            <div class="collapse show" id="collapseCardExample">
              <div class="card-body"> 
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Bug Name</th>
                      <th scope="col">Description</th>
                      <th scope="col">See More</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for bug in bugs %}
                    <tr>
                      <th scope="row">{{ forloop.counter }}</th>
                      <td>{{ bug.name }}</td>	  
                      <td>{{ bug.description }}</td>	   
                      <td><a href="{% url 'pm_bug_details' bug.id %}"><i class="fas fa-eye"></i></a></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        
{% endblock %}